@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="text-center" style="width: 100%;">
        <h1>Welcome to Camera Obscura!</h1>
    </div>
    <img style="width: 100%; height: auto; margin: auto;" class="img-responsive" src="@Url.Content("~/Content/img/paul-morris-137448.jpg")" alt="background" />
</div>