@model e_commerce.Models.AdminViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container-fluid">
    <h2>Login</h2>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.Username, "Your username")
        @Html.EditorFor(model => model.Username) <br>
        @Html.LabelFor(model => model.Password, "Your password")
        @Html.PasswordFor(model => model.Password) <br>
        <input type="submit" value="Login" />
    }

</div>